.insta_logo{
    position: relative;
    width:250px;
    height: 250px;  
    border-radius: 56px;
    margin: auto;
    background: #d6249f;
    background:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgb(0, 0,0,.25);
}
.second_div{
    position: absolute;
    
    width: 160px;
    height: 160px;
    border: 12px solid white;
    border-radius: 55px;
    margin-top: 12.9%;
    margin-left: 13%;
    
    
}
.circle{
    width: 50px;
    height: 50px;
    border: 12px solid white;
    border-radius: 100%;
    margin-top: 30%;
    margin-left: 29%;

}
.circle::before{
content: "";
position: absolute;
width:10px;
height:10px;
border: 5px solid white;
border-radius: 50%;
background-color: white;
top: 16px;
right: 16px;
}